<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WELCOME</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Bienvenido</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Insertar</a>
            <a class="nav-link" href="#">Eliminar</a>
            <a class="nav-link" href="#">Modificar</a>
            <a class="nav-link" href="#">Ver alumno </a>
            
            <a class="nav-link" href="#">Listar alumnos</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenido al resgistro de alumnos.</h1>
        <p class="lead">Selecciona una opcion en la parte superior izquierda, o hazlo aqui abajo.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Insertar</a>
          <a href="#" class="btn btn-lg btn-secondary">Eliminar</a>
          <a href="#" class="btn btn-lg btn-secondary">Modificar</a>
          <a href="#" class="btn btn-lg btn-secondary">Ver un alumno</a>
          <p></p>
          <a href="#" class="btn btn-lg btn-secondary">Listar alumnos</a>
     
        </p>
      </main>

     
    </div>


   
    
  </body>
</html>
