<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">sexo</th>
            <th scope="col">Estado civil</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>matricula ejemplo</td>
            <td>nombre ejemplo</td>
            <td>primer apellido ejemplo<td>
            <td>Segundo apellido ejemplo</td>
            <td>edad ejemplo</td>
            <td>fecha de Nacimiento ejemplo</td>
            <td>estado civil ejemplo</td>
          </tr>
      </table>
      <main role="main" class="inner cover">
        <p class="lead">Selecciona una opcion aqui abajo.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Insertar</a>
          <a href="#" class="btn btn-lg btn-secondary">Eliminar</a>
          <a href="#" class="btn btn-lg btn-secondary">Modificar</a>
          <a href="#" class="btn btn-lg btn-secondary">Ver un alumno</a>
          <p></p>
          <a href="#" class="btn btn-lg btn-secondary">Listar alumnos</a>
          <br>
          <p></p>
          <a href="#" class="btn btn-lg btn-secondary">regresar</a>
     
        </p>
      </main>
    
</body>
</html>